body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(99, 240, 174);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toilet {
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
 }
 .toilet:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
 }
 
#title {
  text-align: center;
}

.map { 
  text-align: center;
  vertical-align: middle;
  margin-right: auto;
  margin-left: auto;
  position: relative; 
  z-index: 0;
} 

.toilet {
  position: absolute; 
  left: 25%;
  top: 45%;
  z-index: 1;
}
